# Binaries
/dchook
/dchook-notify
/cmd/dchook/dchook
/cmd/dchook-notify/dchook-notify
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Build artifacts
/dist/
/tmp/

example/client_secret.txt
example/webhook_secret.txt
example/dchook-notify

/coverage.*
